.heading {
  padding: 30px;
}

.image1 {
  width: 100%;
}

.row1head {
  font-weight: bold;
}

.midrow1 {
  padding-bottom: 20px;
}

.pararow1 {
  line-height: 27px;
  color: gray;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
  line-break: strict;
  padding-right: 60px;
}

.cardhead {
  color: #346a9f;
  font-size: 20px;
}

.cd {
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  min-height: 393px;
  max-width: 320px;
  margin: 20px;
}

.row2 {
  padding-top: 60px;
  margin-left: 140px;
}

.secheading {
  padding-top: 30px;
  text-align: center;
  color: #346a9f;
  font-size: 10px;
  font-weight: bolder;
}

.secheading h1 {
  font-size: 50px;
  font-weight: bolder;
  padding-top: 40px;
}

.row3r {
  display: inline-flex;
  padding-top: 20px;
  padding-right: 30px;
}

.row3rr {
  padding-top: 80px;
}

.img6 {
  border-radius: 100%;
  background-color: #326798;
  width: 20%;
  height: 60%;
  padding: 15px;
  margin-right: 15px;
}

.row3r h2 {
  font-size: 25px;
}

.img5 {
  width: 90%;
  padding: 15px;
}

.row4 {
  margin-top: 40px;
}

.row4l {
  background-color: #326798;
}

.row4l2 {
  padding: 30px;
}

.row4l2 h1 {
  font-weight: 800;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  position: relative;
}

.row4l2 p {
  color: white;
  line-height: 24px;
  font-size: 18px;
  margin-top: 30px;
}

.cardrow4 {
  display: flex;
  margin-top: 30px;
  margin-bottom: 3em;
}

.cards {
  width: 30%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  padding: 30px;
  border-radius: 25px;
}
