.industries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}
.icon-area {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(23, 26, 41, 0.02);
  box-shadow: 0 0.75rem 1.5rem rgba(23, 26, 41, 0.02);
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
}
.icon-area .icon-feature {
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 25px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.icon-area::before {
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  z-index: -1;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: #316698;
}
.icon-area:hover::before {
  height: 100%;
}
.icon-area:hover {
  color: #fff;
}
.content-feature-text a {
  text-decoration: none;
  color: #316698;
}
.icon-area:hover i,
.icon-area:hover a {
  color: #fff;
  transition: 0.5s;
}
