.blockmenu {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-left: -10px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  padding-top: 15px;
  width: 125px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
  height: 100px;
}
.box img {
  width: 30px;
  height: 30px;
}
.o {
  height: 50px;
  width: 100px;

  line-height: 1.2em;
  padding-top: 3px;
}
.box p {
  margin: 0;
  text-align: center;
}
.blockmenu .menu {
  margin-left: -30px;
}
.blockmenu .menu {
  display: block;
  position: relative;
}

.blockmenu .menu ul {
  background: #113c68;
  height: 0;
  left: 45px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease;
  top: 100%;
  width: 250px;
  z-index: -1;
}

.blockmenu li {
  text-align: left;
  list-style-type: none;
}

.blockmenu .menu li:hover ul {
  height: auto;
  opacity: 1;
  z-index: 100;
  transform: translateY(0);
}

.blockmenu .menu ul a {
  color: #fff;
  display: block;
}

.submenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
}
.submenu li {
  width: 250px;
  margin: 0;
  padding: 10px 0 10px 10px;
  margin-left: -40px;
}
.submenu li:hover {
  background: #216bb4;
}
