.hotDeals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 100px;
}
.wrapper img {
  object-fit: cover;
  width: 100%;
  position: relative;
}

.wrapper .overlay {
  position: absolute;
  top: 0;
  height: 1%;
  width: 100%;
  background-color: #333;
  z-index: 1;
  transition: 0.5s;
}
.wrapper .demo {
  visibility: hidden;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  background-color: #316698;
  color: #fff;
}
.wrapper .demo:hover {
  background: #fff;
  border: 1px solid #316698;
  color: #316698;
}
.wrapper:hover .overlay {
  height: 218px;
  transition: 0.5s;
  opacity: 0.7;
}
.wrapper:hover .demo {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
.card {
  border: 1px solid #ddd !important;
}

.card .content {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.card .content p {
  font-size: 18px;
  margin: 0;
}
.card .boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.card .boxes p {
  font-weight: 500;
}
.basic {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  color: #316698 !important;
  margin-right: 10px;
  border: 1px solid #316698;
}
.basic:hover {
  background-color: #316698;
  color: #fff !important;
  transition: 0.3s all;
}

.strike {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 500;
  color: rgb(134, 134, 134);
}
.off {
  color: green;
  font-size: 20px;
  font-weight: bold;
}
.btn-tas {
  background-color: #316698;
  width: 100px !important;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
}
.btn-tas:hover {
  background: transparent !important;
  color: #316698 !important;
  border: 1px solid #316698;
}
.prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .hotDeals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .wrapper img {
    object-fit: cover;
    width: 100%;
    position: relative;
  }

  .wrapper .overlay {
    position: absolute;
    top: 0;
    height: 1%;
    width: 100%;
    background-color: #333;
    z-index: 1;
    transition: 0.5s;
  }
  .wrapper .demo {
    visibility: hidden;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    background-color: #316698;
  }

  .wrapper:hover .overlay {
    height: 200px;
    transition: 0.5s;
    opacity: 0.7;
  }
  .wrapper:hover .demo {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
  .card {
    border: 1px solid #ddd !important;
    width: 350px;
    box-shadow: 0 3px 10px #ddd;
  }

  .card .content {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .card .content p {
    font-size: 18px;
    margin: 0;
  }
  .card .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  .card .boxes p {
    font-weight: 500;
  }
  .basic {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .basic:hover {
    background-color: #316698;
  }

  .strike {
    text-decoration: line-through;
    font-size: 20px;
    font-weight: 500;
    color: rgb(134, 134, 134);
  }
  .off {
    color: green;
    font-size: 20px;
    font-weight: bold;
  }
  .btn-tas {
    background-color: #316698;
    width: 100px !important;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
  }
  .btn-tas:hover {
    background-color: #1e4468;
    color: #fff;
  }
  .prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
