.acc {
  height: 100vh;
  padding-top: 30px;
}
.accounts-register-form {
  height: calc(2.5em + 0.75rem + 2px);
  /* width: 400px; */
}

.accounts-btn {
  padding-left: 140px;
  padding-right: 140px;
}
.close img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
}
.logow {
  background: url('./res/logo-white.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 30px;
}
.accounts-btn:hover {
  color: white;
  border-color: #2463a1;
  background-color: #2463a1;
}

.register-form-div i {
  left: 0;
  color: black;
  position: absolute;
  margin-left: 10px;
  padding: 20px 20px;
  pointer-events: none;
}

.form-control:focus {
  border-color: white;
  box-shadow: 0 0 0 0.2rem rgb(36, 99, 161 / 15%);
}

.register-form-div .accounts-register-form {
  padding-left: 40px;
}

.register-form-div i {
  font-size: 20px;
}

.login:visited {
  border-bottom: 10px solid #6c5ea6;
}
.wrapperReg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 30px;
  padding-top: 110px;
}
.login {
  border-radius: 4px;
  text-align: center;
  width: 150px !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  /* border-bottom: 10px solid #6c5ea6; */
  background-color: white;
  margin: 5px;
  padding: 20px !important;
  cursor: pointer;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid transparent;
}

.loginSection {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  background-image: linear-gradient(
    136deg,
    rgb(63, 43, 150) 0%,
    rgb(116, 235, 213) 100%
  );
  background-size: 200% 100%;
  animation: gradient 10s ease infinite !important;
  height: 100vh;
}

.icon-handles {
  padding-top: 50px;
  margin-left: -40px;
}
.icon-handles li {
  display: inline;
  padding: 0 10px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.login h3 {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  font-family: 'Roboto', sans-serif;
}

.login i {
  color: green;
  height: 15px;
}

html,
body {
  margin: 0;
  height: 100%;
}
.formContainer1,
.formContainer2,
.formContainer3,
.formContainer4 {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form-div {
  margin-top: 15px;
  width: 700px;
  margin: auto;
  position: relative;
}
.accounts-content .heading {
  margin-top: 30px;
  margin-bottom: 30px;
}
.selected-border {
  border-bottom: 10px solid #6c5ea6;
}
.login-link span {
  color: #2463a1;
  text-decoration: none;
}
.login-link a:hover {
  text-decoration: none;
  color: #47546d;
}
.login-link a {
  color: black;
}
