.pp {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(68, 67, 67, 0.2);
}

.container {
    padding-bottom: 30px;
    text-align: center;
}

.lis {
    display: inline-flex;
}

.pp1 {
    color: #346a9f!important;
    font-size: 15px;
    font-weight: 560;
}

.iconpp {
    width: 20%;
    display: block;
    align-items: center;
    margin: auto;
}

.link1 .active {
    border-bottom: 1px solid yellow;
}