.accounts-section {
  margin-top: 90px;
}

.accounts-content {
  margin-top: 40px;
}

.accounts-form {
  height: calc(2.5em + 0.75rem + 2px);
  width: 400px;
}
.register-link span {
  color: #2463a1;
  text-decoration: none;
}
.register-link a:hover {
  text-decoration: none;
  color: #47546d;
}
.register-link a {
  color: black;
}

.accounts-btn {
  color: #2463a1;
  border-color: #2463a1;
  padding-left: 140px;
  padding-right: 140px;
}

.accounts-btn:hover {
  color: white;
  border-color: #2463a1;
  background-color: #2463a1;
}

.form-div i {
  left: 0;
  color: black;
  position: absolute;
  margin-left: 160px;
  padding: 19px 20px;
  pointer-events: none;
}

.form-control:focus {
  border-color: white;
  box-shadow: 0 0 0 0.2rem rgb(36, 99, 161 / 15%);
}

.form-div .accounts-form {
  padding-left: 40px;
}

.form-div i {
  font-size: 20px;
}

.login:visited {
  border-bottom: 10px solid #6c5ea6;
}

.login {
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  width: auto;
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); */
  /* border-bottom: 10px solid #6c5ea6; */
  background-color: white;
  margin: 5px;
}

.login-section {
  padding: 150px 25px;
  background-color: lightblue;
  /* background-image: linear-gradient(253deg, #3ba5b4 0, #38ba8a 100%); */
  background: url(./res/gradient-network-connection-background_23-2148865393.jpg);
  /* background: #172337; */
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 20;
  overflow: hidden;
  max-width: 50rem;
}

.login h3 {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  margin-top: 26px;
  width: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
}

.login i {
  color: black;
}

html,
body {
  margin: 0;
  height: 100%;
}

.form-div {
  margin-top: 25px;
  width: 700px;
  margin: auto;
  position: relative;
}

.selected-border {
  border-bottom: 10px solid #6c5ea6;
}
