.myvision {
  margin-top: -200px;
  padding-bottom: 50px;
}
.myvision .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: -50px;
}
.myvision .wrapper img {
  width: 450px;
  object-fit: cover;
}
.mv_right p {
  padding-left: 50px;
  font-size: 18px;
  font-weight: 500;
}
.myvision .boxes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mission .imgBox {
  background-image: url('./mission.png');
  height: 100px;
  width: 130px;
  background-position: center;
  background-size: cover;
}
.mission h3 {
  margin-left: -20px;
}
.vision .imgBox {
  background-image: url('./vision.png');
  height: 100px;
  width: 130px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.vision {
  padding-left: 50px;
}
