/* .services-section {
    text-align: center;
    padding-bottom: 50px;
}

.services-section .service_box {
    padding: 50px 0 0 0;
}

.services-section .service_box img {
    width: 150px;
    height: 150px;
}

.services-section .service_box p {
    font-size: 22px;
    padding-top: 20px;
} */

.myvision {
    padding-bottom: 55px;
}

.headingmain {
    width: 100%;
    position: relative;
    text-align: center
}

.headingmain span {
    color: #f2f2f2;
    font-size: 200px;
    font-weight: 900;
    position: absolute;
    width: 100%;
    left: 0;
    top: -59px;
    z-index: -1
}

.headingmain h2 {
    color: var(--black-color);
    font-size: 50px;
    font-weight: 800;
    margin-top: 0;
    position: relative;
    text-shadow: 0 2px 8px rgba(38, 171, 226, .9);
    z-index: 999999
}

.home-about-para p {
    line-height: 27px;
    font-size: 14px
}

.home-about-point {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.about-home {
    padding-top: 25px;
}

.about-point-box {
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #b7b7b7cc;
    /* box-shadow: 0 0 20px rgba(38, 171, 226, .3); */
    margin-bottom: 40px;
    transition: .3s all ease;
    background: var(--white-color);
    position: relative;
    overflow: hidden
}

* {
    box-sizing: border-box;
}

.about-point-box:hover {
    box-shadow: 0 0 20px #346A9F;
    transition: .3s all ease
}

.about-point-box:hover img {
    display: none;
    transition: .3s all ease;
    box-shadow: 0 0 20px rgba(101, 110, 95, 0.3)
}

.home-about-point:hover {
    box-shadow: #346A9F
}

.about-point-box .content {
    width: 100%;
    position: absolute;
    background: var(--white-color);
    padding: 15px;
    top: 0;
    transform: translateY(200px);
    transition: .3s all ease;
    box-sizing: border-box;
    text-align: center;
    height: 100%
}

.about-point-box:hover .content {
    transform: translateY(0);
    transition: .3s all ease
}

.about-point-box .content p {
    font-size: 13px;
    line-height: 20px;
    color: var(--gray-light-color);
    height: 100%;
    display: flex;
    align-items: center
}

.about-home-img img {
    width: 100%;
}

.about-point-box:hover span {
    display: none;
}

.about-point-box span {
    font-weight: bold;
    padding-top: 2rem;
}

.about-home {
    padding-top: 100px;
    padding-bottom: 0;
}

.vision {
    padding: 50px;
}

.headingmain h2 {
    letter-spacing: 6px;
    text-shadow: 0 2px 8px rgba(38, 171, 226, .9);
    color: var(--black-color);
    font-size: 50px;
    font-weight: 800;
}


/* .center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
} */