.logo_menu ul {
    list-style: none;
    display: inline-flex;
    padding: 10px 0;
    text-decoration: none;
    float: right;
}

.logo_menu ul li {
    padding: 0 15px;
}

.logo_menu ul li img {
    width: 22px;
    margin-right: 5px;
    position: relative;
    top: -4px;
}

.logo_menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.logo_menu ul li a:hover {
    color: red;
}

.has-search {
    margin-top: 5px;
    margin-bottom: 0;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    right: 25px;
}

.has-search .form-control {
    border-radius: 20px;
}