.topnavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #316698;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 5px rgba(221, 221, 221, 0.432);
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: #fff;
}
.navBox1 li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
.navBox1 ul {
  margin-top: 15px;
  font-weight: 400;
}

.topnavbar .logo img {
  width: 210px;
  object-fit: contain;
}
.topnavbar .navBox2 {
  display: flex;
}
.topnavbar .others i {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  color: #316698;
}
.topnavbar .others i:hover {
  color: #23486b;
  transition: 0.3s;
}
.topnavbar .others {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.topnavbar .contact {
  font-size: 15px;
  font-weight: 400;
  border-bottom: 3px solid gold;
  margin-left: 40px;
  margin-right: -100px;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.searchBtn {
  height: 38px;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #316698;
  color: #fff;
  margin-top: 8px;
}
.searchBtn:hover {
  background-color: #23486b;
  color: #fff;
}
.navBox2 input {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: 8px;
}
.dropdownMenu {
  width: 700px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: -210px;
  z-index: 3;
  visibility: hidden;
  box-shadow: 0 5px 10px rgba(75, 75, 75, 0.46);
  transition: 0.2s;
  border-radius: 5px;
}
.topnavbar .toggleDropdown {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}
.topnavbar .toggleDropdown:hover .dropdownMenu {
  visibility: visible;
  transition: visibility 1s all;
  opacity: 1;
  z-index: 5;
}
.dropdownMenu {
  display: flex;
  flex-wrap: wrap;
}
.category {
  padding-right: 30px;
  padding-left: 15px;
}
.dropdownMenu h5 {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 0px;
  padding-top: 10px;
  letter-spacing: 1px;
}
.category > p {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 500;
  padding-top: 5px;
  padding-left: 26px;
  color: rgb(116, 116, 116);
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0.25px;
}
.category > p:hover {
  text-decoration: underline;
  color: #333;
}

@media only screen and (max-width: 1400px) {
  .topnavbar .others {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }

  .topnavbar .contact {
    font-size: 13px;
    font-weight: 400;
    border-bottom: 3px solid gold;
    margin-left: 25px;
    margin-right: -10px;
  }
  .topnavbar .toggleDropdown {
    font-size: 13px;
  }
  .navBox1 ul {
    margin-top: 12px;
  }
}
