.application {
  font-family: 'Roboto';
}
.top {
  height: 100%;
  background-image: url('./banner.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_left h1 {
  font-size: 65px;
  color: #fff;
  width: 570px;
  margin-top: -150px;
  letter-spacing: 1.5px;
}
.top_right {
  padding-top: 270px;
  padding-left: 100px;
}
.top_right img {
  height: 600px;
  object-fit: cover;
}
.top_c {
  font-size: 30px;
  color: #fff;
}
.view {
  background-color: #316698;
  color: #fff;
  border-radius: 30px;
  width: 130px;
  height: 45px;
}
.view:hover {
  background: transparent;
  border: 1px solid #316698;
  color: #316698;
}
.startBtn {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  letter-spacing: 0.1em;
  background-color: #64b0f8;
  border-radius: 30px;
  color: #fff;
  letter-spacing: 1.5px;
  margin-top: 30px;
}
.startBtn:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
.middleSection {
  padding-top: 150px;
  padding-bottom: 60px;
}
.middleSection h1 {
  font-size: 50px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1.5px;
}
.middleSection h3 {
  font-size: 24px;
  letter-spacing: 1px;
}
.middleSection .app_icon_container {
  padding-top: 130px;
}
.middleSection .app_icon_container .icon {
  width: 110px;
  height: 110px;
  text-align: center;
  line-height: 110px;
  border-radius: 20px;
  margin: 0 auto 30px auto;
}
.app_icon_container i {
  font-size: 30px;
  vertical-align: middle;
  color: #fff;
}
.app_icon_container .icon1 {
  background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
}
.app_icon_container .icon2 {
  background: linear-gradient(to right, #fdae5c 0%, #fd8e5e 100%);
}
.app_icon_container .icon3 {
  background: linear-gradient(to right, #37ef8d 0%, #37ef8d 100%);
}
.app_icon_container h3 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.bottomSection {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottomSection h1 {
  font-size: 50px;
}
.bottomSection p {
  font-size: 20px;
  color: rgb(124, 124, 124);
}
.b_left {
  width: 450px;
}
.b_left h1,
.b_left1 h1 {
  font-size: 45px;
  letter-spacing: 1.5px;
}
.b_left p,
.b_left1 p {
  font-size: 17px;
  letter-spacing: 1.3px;
  line-height: 1.6em;
  padding-top: 10px;
}
.bottomSection {
  padding-bottom: 120px;
}
.bottomSection .b_right img {
  object-fit: cover;
  height: 300px;
}

.bottomSection .b_right2 img {
  object-fit: cover;
  height: 400px;
}

.footerBanner {
  background-color: #316698;
  height: 600px;
  overflow: hidden;
}
.fb_left h1 {
  font-size: 45px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.fb_left h4 {
  padding-top: 20px;
}
.fb_container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.fb_container .store {
  padding: 10px 30px;
  border: none;
  margin-right: 20px;
  background-color: #1379d8;
  transition: all ease-in 0.3s;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
  margin-top: 40px;
}
.fb_container .store i {
  font-size: 30px;
  vertical-align: middle;
  padding-right: 10px;
  color: #fff;
}
.fb_container .store:hover {
  background-color: #0a59a3;
  transition: all ease-in 0.3s;
}

@media only screen and (max-width: 768px) {
  .top {
    height: 100%;
    background-image: url('./banner.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .top_left {
    padding-top: 200px;
    text-align: center;
  }
  .top_left h1 {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .top_right {
    padding-top: 70px;
    padding-left: 0px;
  }
  .top_right img {
    height: 300px;
  }
  .top_c {
    font-size: 18px;
    color: #fff;
  }
  .startBtn {
    padding: 8px;
    font-size: 15px;
    margin-top: 15px;
  }

  /* middle section */
  .middleSection {
    padding-top: 100px;
  }
  .middleSection h1 {
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .middleSection .app_icon_container {
    padding-top: 70px;
  }
  .middleSection .app_icon_container .icon {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 20px;
    margin: 0 auto 15px auto;
  }
  .app_icon_container h3 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 15px;
  }

  /* bottom section */
  .bottomSection {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
  }
  .bottomSection h1 {
    font-size: 30px;
  }
  .bottomSection p {
    font-size: 18px;
    color: rgb(124, 124, 124);
    line-height: 1.3em;
  }
  .b_left {
    width: 100%;
    text-align: center;
  }

  .bottomSection .b_right img {
    object-fit: cover;
    height: 200px;
    margin-top: 30px;
  }

  .bottomSection .b_left1 {
    text-align: center;
    margin-top: -50px;
  }
  .bottomSection .b_right2 img {
    object-fit: cover;
    height: 200px;
    margin-top: 30px;
  }

  /* footer section */

  .footerBanner {
    height: 600px;
    overflow: hidden;
    padding-top: 30px;
  }
  .fb_left h1 {
    font-size: 33px;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
  .fb_left h4 {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
  }
  .fb_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .fb_container .btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fb_container .store {
    padding: 5px 20px;
    border: none;
    margin-right: 5px;
    margin-left: 5px;

    transition: all ease-in 0.3s;
    color: #fff;
    font-size: 16px;

    margin-top: 10px;
  }
  .fb_container .store i {
    font-size: 25px;
    padding-right: 10px;
    color: #fff;
  }
  .fb_container .store:hover {
    background-color: #0a59a3;
    transition: all ease-in 0.3s;
  }
}
