.content {
  text-align: right;
}
.content p {
  font-weight: 500;
}
.content h1 {
  font-weight: 800;
  font-size: 42px;
}

.first-section {
  background: url(./icons/bg-cut.png);
  background-repeat: no-repeat;
  background-position: right top;
  width: 100%;
  margin-top: 105px;
  padding: 0px 30px;
  margin-top: 7em;
}

.first-section-content {
  padding: 40px 90px 50px 50px;
}

.first-section::before {
  content: "";
  display: block;
  position: absolute;
  background: #0086ee;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  top: 81px;
  left: 2px;
  opacity: 0.3;
}

.mobile-screen img {
  width: 68%;
  position: relative;
  /* left: -80px; */
}

.application {
  padding: 30px 90px 50px 50px;
}

.platform-data h1 {
  font-weight: 800;
  font-size: 42px;
}
.platform-data p {
  font-weight: 500;
}

.platform-content {
  padding: 0px 90px 0px 50px;
}

.platform-icon-box {
  display: flex;
  justify-content: space-evenly;
}

.platform-main:after {
  content: " ";
  border-bottom: 50vh solid #0086ee;
  border-left: 100vw solid transparent;
  width: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  bottom: 0;
}

.platform-icon-box .icon-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: 2px solid #0086ee;
  transition: 0.3s all ease;
  z-index: 100;
}

.platform-icon-box .icon-box span {
  font-size: 22px;
  margin-top: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
}

.icon-box:hover {
  background-color: #0086ee;
}

.icon-box:hover i {
  color: white;
}

.icon-box:hover span {
  color: white;
}

.android {
  background-color: #0086ee;
}

.android i {
  color: white;
}

.android span {
  color: white;
}

.android:hover {
  background: white;
}

.android:hover i {
  color: #0086ee;
}

.android:hover span {
  color: #0086ee;
}

.platform-main {
  padding: 105px 0px;
  position: relative;
}

.circle-#0086EE1 {
  position: absolute;
  left: 0;
  /* top: 100px; */
  transform: rotate(180deg);
  height: 150px;
  width: 75px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  background: #0086ee;
  box-shadow: 0 0 54px rgba(0, 134, 238, 0.8);
}

.slider {
  margin-top: 6em;
  position: relative;
  padding: 100px 0;
}

.slider-con {
  padding: 0px 90px 0px 50px;
}

.slider-content {
  text-align: right;
  padding: 70px 0 0;
}
.slider-content h1 {
  font-weight: 800;
  font-size: 42px;
}
.slider-content p {
  font-weight: 500;
}
.slider:after {
  content: " ";
  border-top: 50vh solid #0086ee;
  border-right: 100vw solid transparent;
  width: 0;
  position: absolute;
  top: -127px;
  z-index: -1;
  bottom: 0;
}

/* .slider-content p {
    width: 70%;
    margin: 0 auto;
} */

.slider-content h2 {
  font-weight: 600;
  letter-spacing: 1px;
}

.structurebox {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.big-text {
  position: absolute;
  font-size: 170px;
  left: 139px;
  font-weight: 700;
  top: 22px;
  opacity: 0.1;
  z-index: -1;
  color: #737373;
}

.structure {
  margin-top: 12em;
}

.structurebox h1 {
  color: #0086ee;
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 1px;
}

.structurebox p {
  width: 70%;
  margin: 0 auto;
}

.structurebox img {
  width: 90%;
  margin-top: 50px;
}

.structurebox:after {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  border: 10px solid #0086ee;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.3;
}

.applications-features {
  background: #0086ee;
  display: flex;
  position: relative;
  margin: 80px 0 0;
}

.feature-box-left {
  width: 40%;
}

.feature-box-left span {
  font-size: 89px;
  position: absolute;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: 0;
  top: 48px;
  left: 16px;
  color: #1998fb;
  text-shadow: 0 0 27px rgba(0, 0, 0, 0.2);
}

.feature-box-left span {
  text-align: center;
}

.feature-box-left img {
  width: 80%;
  margin-top: 80px;
  position: relative;
}

.feature-content {
  width: 60%;
  height: 766px;
  overflow-y: auto;
}

.feature-content-box p {
  color: white;
}

.feature-content-box:nth-child(odd) {
  background: #2498f2;
}

.feature-content-box:nth-child(even) {
  background: #1490ef;
}

.feature-content-box {
  padding: 40px 83px;
  position: relative;
}

.feature-content-box span {
  position: absolute;
  font-size: 45px;
  font-weight: 600;
  color: white;
  opacity: 0.5;
  top: 30px;
  left: 10px;
}

.feature-content-box h3 {
  color: white;
  font-weight: 600;
}

.why-use-main {
  overflow-x: hidden;
  padding: 30px 90px 50px 50px;
  margin-top: 4em;
}

.why-use-main span {
  font-size: 22px;
  color: #0086ee;
  display: block;
  text-transform: uppercase;
}

.why-use-main h1 {
  font-size: 70px;
  font-weight: 800;
}

.why-thumb {
  margin: 20px 0;
  position: relative;
  transition: 0.3s all ease;
}

.why-thumb h3 {
  font-size: 20px;
  font-weight: 600;
}

.why-thumb:after {
  position: absolute;
  content: "";
  border: 2px solid #0086ee;
  height: 58px;
  left: -13px;
  top: 4px;
  transition: 0.3s all ease;
}

/* .why-thumb::after:hover {
    position: absolute;
    content: "";
    border: 2px solid #0086EE;
    height: 70px;
    left: -13px;
    top: 4px;
    transition: .3s all ease;
} */

.layer-screen {
  padding: 100px 0;
}
