.topnavbar-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #316698;
  box-shadow: 0 3px 5px rgba(221, 221, 221, 0.432);
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
}
.topnavbar-custom .logo img {
  width: 210px;
  object-fit: contain;
}
.topnavbar-custom .close img {
  z-index: 1000;
  width: 50px;
  object-fit: contain;
  opacity: 1;
  z-index: 1000;
  height: 30px;
  cursor: pointer;
}
