@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}

.para-15 {
  font-size: 15px;
  color: var(--gray-dark-color);
  letter-spacing: 1px;
  line-height: 27px;
  font-weight: 400;
}
.para-14 {
  font-size: 14px;
  color: #666 !important;
  letter-spacing: 0.25px;
  line-height: 21px;
  font-weight: 400;
}
.navbarLink {
  font-size: 15px !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}
.small-heading {
  font-size: 20px !important;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}
